<a href="https://colab.research.google.com/github/neermesh/dataPreprocessing/blob/master/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from pandas_datareader import data as pdr
data = pdr.get_data_yahoo('ASIANPAINT.NS', start='2020-01-01', end='2020-01-24')

In [0]:
data

                   High          Low  ...   Volume    Adj Close
Date                                  ...
2020-01-01  1802.550049  1783.199951  ...   397285  1793.199951
2020-01-02  1799.900024  1783.400024  ...   411266  1790.650024
2020-01-03  1779.800049  1747.050049  ...  1318628  1751.400024
2020-01-06  1738.000000  1694.000000  ...  1871804  1707.150024
2020-01-07  1740.500000  1711.000000  ...  1033650  1724.400024
2020-01-08  1736.000000  1695.000000  ...  1006057  1728.800049
2020-01-09  1775.000000  1741.000000  ...  1781733  1772.550049
2020-01-10  1797.300049  1760.000000  ...  1256612  1792.550049
2020-01-13  1807.949951  1794.349976  ...   823821  1804.900024
2020-01-14  1821.650024  1804.800049  ...   775629  1819.150024
2020-01-15  1845.000000  1810.099976  ...  1252925  1842.250000
2020-01-16  1848.000000  1828.750000  ...  1031569  1835.150024
2020-01-17  1838.900024  1815.000000  ...   862204  1830.050049
2020-01-20  1862.250000  1833.599976  ...  1091453  1848.750000
2020-01-21  1842.550049  1793.849976  ...  2101561  1810.750000
2020-01-22  1818.699951  1766.849976  ...  3415306  1779.250000
2020-01-23  1789.000000  1757.099976  ...  1885174  1776.099976
2020-01-24  1799.900024  1780.250000  ...  1195503  1786.800049

[18 rows x 6 columns]